
html, body {
    font-family: monospace;
    margin: 0;
    height:100%;
    overflow:hidden;
    
    background: #d9c3a0;
   
    display: flex;
    align-items: center;
    justify-content: center;
} 

.viewport {
    
    position: absolute;
  
    
    width: 95%;
    height: 95%;
    background: #d9c3a0;
    border: 1.5px dotted black;
    overflow: hidden;
    
  
    
  }

#background {
  width: 100%;
    height: 100%;
    
    background-image: url('background2.png');
    opacity: 0.5;
    
}

#drag {
  position:absolute;
  width:200px;
  right:66%;
  bottom:55%;
  z-index: 10;

}

.card {
    /* Add shadows to create the "card" effect */
    border: 1px solid black;
    box-shadow: 2px 2px 2px 0 black;
    height: 40vh;
    width: 30vw;
    font-size: 1em;
    word-wrap: break-word;
    
    
    overflow: hidden;

    cursor: move;
    
    position:absolute;
  
    background-color: rgb(245, 245, 245);
    padding: 1em;

    display: flex;
    flex-direction: row;
    
    gap: 5%;
    align-content: center;
    justify-content: center;

  }


  @media screen and (orientation: portrait){
    .card{
      height: 20vh;
      width: 55vw;
      
    }
  }
  .minicard {
    
    border: 1px solid black;
    
    box-shadow: 1px 1px 2px 0 grey;
    
    height: 95%;
    width: 50%;
    margin: 0px;
    padding: 0px;
    
    overflow: hidden;

    cursor: move;
    
    position:relative;
  
    background-color: rgb(245, 245, 245);
   

    display: inline-block;
    
  }

  hr {
    height: 1px;
    background-color: black;
    border: none;
    margin: 0.1em auto;
    
  }

  .minicontent {
    padding:6px;
  }


h5 {
  margin:0px;
  color: black;
  background-color: grey;
}

.hire {
  font-family: monospace;
  background-color: rgb(245, 245, 245);
  font-style:italic;
  color: rgb(185, 76, 94);
  margin: 0;
  border: 1px solid pink;
  box-shadow: 2px 2px 2px 0 pink;
  z-index: 0;
  cursor:pointer;

}



a {
  color: black;
  font-size:1em;
}

tr, td {
  padding: 15px;
  
}

.login {
  border: 1px solid black;
    box-shadow: 2px 2px 2px 0 black;
    height: 110px;
    width: 185px;
    
    overflow: hidden;

    cursor: move;
    
    position:absolute;
  
    background-color: rgb(245, 245, 245);
    padding: 1em;
    left:50%;
    top: 50%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20%;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  position: absolute;
  z-index: 1;
}


.tooltip:hover .tooltiptext {
  visibility: visible;
}